.git
.github
.env
data
.logmate
apps/frontend/node_modules
apps/frontend/dist
apps/backend/web/dist
apps/backend/data
**/node_modules
**/.cache
**/__pycache__
**/*.test
**/*.out
**/*.log
**/*.sqlite
**/*.sqlite3
**/.DS_Store
docs/*
!docs/openapi.yaml
README.md
LICENSE.md
Makefile
run.sh
docker-compose.yml
docker_example
INSTALATION.md
*.log
*.sqlite
*.sqlite3
